{
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": "last 2 version"
        }],
        "@babel/preset-flow"
      ],
      "plugins": [
        ["transform-es2015-modules-commonjs", {
          "loose": false
        }],
        "@babel/plugin-proposal-class-properties"
      ]
    }
  }
}