{
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-stage-2", {
          "decoratorsLegacy": true
        }],
        "@babel/preset-flow"
      ],
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}